.cart {
    margin-top: 214px;
}

.cart-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cart-item-preview,
.cart-item-price,
.cart-item-amount,
.cart-item-total {
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    align-items: baseline;
}

.cart-item-title {
    width: 100%;
    color: var(--color1);
    font-size: 20px;
    margin-bottom: 50px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 26px;
}

.cart-item-info {
    display: flex;
    align-items: center;
    column-gap: 24px;
    width: 100%;
}

.cart-item-image {
    max-width: 136px;
    height: auto;
}

.btn-close {
    cursor: pointer;
    font-size: 17px;
}

.cart-item-price,
.cart-item-info {
    font-size: 17px;
}

.coupon-number {
    width: 255px;
    border: none;
    color: #868686;
    padding-bottom: 23px;
    border-bottom: 1px solid var(--color1);
    outline: none;
}

.order-coupons {
    margin-top: 72px;
}

.coupon-btn {
    margin: 0;
}

.total-price {
    background: #f1eadc;
    padding: 14px 0;
    font-size: 20px;
    justify-content: space-between;
    padding: 0 22px ;
    align-items: center;

}
.order-total-wrapp,
.order-total-price-wrapp {
    font-size: 17px;
    row-gap: 30px;
}

.total-section{
    margin-top: 88px;
}

.summary-mb{
    margin-bottom: 28px;
}
